*{
background: 0;
padding: 0;
box-sizing:border-box;
}

:root{
--orange:#FF8D15;
--white:white;
--black:black;
}

body{
background-color: var(--orange);
color:var(--black);
display: flex;
justify-content:center;
align-items:center;
position: relative;
}

header{
display:flex;
flex-direction:column;
position:absolute;
left: 0;
top: 0;
gap:5px;
}

button {
background-color:var(--white);
padding: 10px;
border:2px solid var(--black);
border-radius:10px;
}


main{
overflow-y:scroll;
margin-top:12vh;
width:80vw;
height:85vh;
border-radius:20px;
background-color:white;
border:2px solid black;
}

main>  div{
display: grid;
grid-template:1fr / 20% 1fr;
}

main  div > div:first-of-type{
display: flex;
flex-direction:row;
justify-content:center;
align-items:center;
text-align:center;
border-right:2px solid var(--black);
border-bottom:2px solid var(--black);
}


main  div > div:last-of-type{
display:flex ;
justify-content:flex-start;
align-items:center;
border-bottom:2px solid var(--black);
padding-left:10px;
}

main img{
width:60px;
height:60px;

}
